<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <h2 class="footer__title title">- get in touch with us -</h2>
      <div class="footer__text">
        <p>
          Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor
          amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus
          porttitor vollisky inceptos mollisestor.
        </p>
      </div>

      <div class="footer__icon">
        <div class="icon__images">
          <a href="#">
        <img src="@img/icon/wifi.svg" alt="icon" /></div></a>
        <div class="icon__images">
          <a href="#">
        <img src="@img/icon/Facebook.svg" alt="icon" /></div></a>
        <div class="icon__images">
          <a href="#">
        <img src="@img/icon/Twitter.svg" alt="icon" /></div></a>
        <div class="icon__images">
          <a href="#">
        <img src="@img/icon/Dribbble.svg" alt="icon" /></div></a>
        <div class="icon__images">
          <a href="#">
        <img src="@img/icon/Pinterest.svg" alt="icon" /></a>
      </div>
    </div>
      <div class="footer__info info">
        <h3 class="info__place">Moonshine St. 14-05 Light City</h3>
          <a class="info__tel" href="tel:+00 (123) 456 78 90">T. +00 (123) 456 78 90</a>
          <a class="info__gmail" href="mailto:first.last@email.com">first.last@email.com</a>
      </div>
  </div>
</footer>
