<header class="header">
  <div class="header__container">
    <div class="header__contant">
      <div class="header__menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
      <nav class="menu__navbar">
        <ul class="menu__lists">
          <li class="menu__list"><a href="#" class="menu__link">Home</a></li>
          <li class="menu__list"><a href="#" class="menu__link">About Us</a></li>
          <li class="menu__list"><a href="#" class="menu__link">Our Journal</a></li>
          <li class="menu__list"><a href="#" class="menu__link">Projects</a></li>
          <li class="menu__list"><a href="#" class="menu__link">News</a></li>
          <li class="menu__list"><a href="#" class="menu__link">Features</a></li>
          <li class="menu__list"><a href="#" class="menu__link">Contact</a></li>
        </ul>
      </nav>
      <div class="header__images">
        <img src="@img/Main img.png" alt="Main images">
      </div>
  </div>
</header>
