<section class="section-posts posts">
  <div class="posts__container">
    <h2 class="posts__title title">- our Recent posts</h2>
    <div class="posts__content">
      <div class="posts__items item">
        <div class="item__images">
            <img src="@img/posts/post-img 1.png" alt="post-img">
        </div>
        <div class="item__block">
            <h2 class="item__title">Aenean Adipiscing Etiam Vestibulum</h2>
            <h4 class="item__info">Photography, Journal   /   9 Comments</h4>
            <div class="item__text">
                <p>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </div>
    </div>
    <div class="posts__items item">
        <div class="item__images">
            <img src="@img/posts/post-img 2.png" alt="post-img">
        </div>
        <div class="item__block">
            <h2 class="item__title">Aenean Adipiscing Etiam Vestibulum</h2>
            <h4 class="item__info">Photography, Journal   /   9 Comments</h4>
            <div class="item__text">
                <p>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </div>
    </div>
</div>
<div class="posts__content">
    <div class="posts__items item">
        <div class="item__images">
            <img src="@img/posts/post-img 3.png" alt="post-img">
        </div>
        <div class="item__block">
            <h2 class="item__title">Aenean Adipiscing Etiam Vestibulum</h2>
            <h4 class="item__info">Photography, Journal   /   9 Comments</h4>
            <div class="item__text">
                <p>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </div>
    </div>
    <div class="posts__items item">
        <div class="item__images">
            <img src="@img/posts/post-img 4.png" alt="post-img">
        </div>
        <div class="item__block">
            <h2 class="item__title">Aenean Adipiscing Etiam Vestibulum</h2>
            <h4 class="item__info">Photography, Journal   /   9 Comments</h4>
            <div class="item__text">
                <p>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </div>
    </div>
  </div>
  </div>
</section>
