<section class="section-shots">
  <div class="shots__container">
    <div class="shots__block">
      <h2 class="shots__title title">- Latest Instagram Shots</h2>
      <h2 class="shots__label">go to our instagram page -</h2>
    </div>
    <div class="shots__flex flex">
      <div class="flex__images">
        <img src="@img/shots/shots-1.png" alt="img" />
      </div>
      <div class="flex__images">
        <img src="@img/shots/shots-2.png" alt="img" />
      </div>
      <div class="flex__images">
        <img src="@img/shots/shots-3.png" alt="img" />
      </div>
      <div class="flex__images">
        <img src="@img/shots/shots-4.png" alt="img" />
      </div>
    </div>
  </div>
</section>
