.footer {
  background: #000000;
  text-align: center;
  &__content {
    padding-top: 66px;
    padding-bottom: 70px;
    @media (max-width: ($md2 + px)) {
      padding-top: 57px;
      padding-bottom: 57px;
    }
    @media (max-width: ($md3 + px)) {
      padding-top: 38px;
      padding-bottom: 47px;
    }
  }

  &__title {
    color: #fefefe;
    padding-bottom: 10px;
    @media (min-width: ($md3 + px)) {
      padding-bottom: 22px;
    }
  }

  .info {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    @media (max-width: ($md3 + px)) {
      flex-direction: column;
    }
    &__place{
      color: #B9B9B9;
      &::after{
        content: '/';
        padding: 0px 10px;
      }
    }
    &__tel {
      color: #B9B9B9;
      &::after{
        content: '/';
        padding: 0px 10px;
      }
    }

    &__gmail {
      color: #B9B9B9;
    }
  }
}

.footer__text {
  max-width: 684px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B9B9B9;
  padding-bottom: 37px;
  margin: 0 auto;
  @media (max-width: ($md3 + px)) {
    padding-bottom: 26px;
  }
}
.footer__icon {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding-bottom: 34px;
  @media (max-width: ($md3 + px)) {
    padding-bottom: 25px;
  }
}
