.header {
  &__contant {
    display: flex;
    justify-content: flex-end;
    @media (max-width: ($md2 + px)) {
      margin: 23px 0px;
    }
  }
  &__images {
    margin-bottom: 66px;
    & img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: ($md4 + px)) {
      margin-bottom: 38px;
    }
  }
  &__menu-icon {
    @media (max-width: ($md2 + px)) {
      width: 44px;
      height: 37px;
      position: relative;
      z-index: 2;
      overflow: hidden;
      background: #222222;
      & > span {
        width: 17px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        transition: all 0.5s;
      }
      & > span:nth-of-type(2) {
        top: calc(50% - 6px);
      }
      & > span:nth-of-type(3) {
        top: calc(50% + 6px);
      }
      &.active > span:nth-of-type(1) {
        display: none;
      }
      &.active > span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
      }
      &.active > span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
      }
    }
  }
}

.menu {
  &__lists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 68px;
    padding-top: 45px;
    padding-bottom: 51px;
    @media (max-width: ( $md2+ px)) {
      gap: 34px;
      padding-top: 41px;
      padding-bottom: 43px;
    }
  }
  &__link {
    color: $mainColor;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: $mainColor;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
    &:hover {
      color: #57a4a4;
      cursor: pointer;
    }
  }
}

.menu {
  @media (max-width: ($md2 + px)) {
    &__navbar {
      position: absolute;
      top: 60px;
      right: 0;
      width: 182px;
      height: 208px;
      background: #f5f5f5;
      opacity: 0;
      transition: opacity 0.5s ease-in;
      &.active {
        opacity: 1;
        margin-right: 15px;
      }
    }
    &__lists {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    &__list {
      padding-left: 12px;
      &:hover {
        width: 100%;
        background: #e5e5e5;
      }
    }
    &__link {
      transition: color 0.5s ease;
      &:hover {
        color: #57a4a4;
        cursor: pointer;
      }
    }
  }
}
