.section-posts {
    margin-bottom: 70px;
    @media (max-width: ($md4 + px)){
        margin-bottom: 78px;
    }
}
.posts {
    &__content{
        display: flex;
        @media (max-width: ($md2 + px)){
            flex-direction: column;
        }
    }
  &__title {
    @media (max-width: ($md4 + px)) {
      font-size: 14px;
      line-height: 22px;
      padding-bottom: 23px;
    }
  }

  &__title {
    padding-bottom: 24px;
  }

  &__items {
    display: flex;
    gap: 21px;
    padding-bottom: 32px;
    @media ( max-width: ($md3 + px)){
      flex-direction: column;
    }
    @media (max-width: ($md4 + px)){
        gap: 11px;
        padding-bottom: 28px;
    }
  }
}
.item {
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 2px;
  }

  &__info {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7c7c7c;
    padding-bottom: 13px;
  }

  &__text {
    max-width: 404px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    @media (max-width: ($md4 + px)){
        display: none;
    }
  }
}
