.section-shots {
  max-width: 100%;
  padding-bottom: 50px;
  @media (min-width: ( $md3 + px)) {
    background: #f9f6f6e1;
  }
  @media (max-width: ( $md4 + px)) {
    padding-bottom: 42px;
  }
}
.shots {
  &__contant {
    max-width: 100%;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 35px;
    @media (max-width: ($md4 + px)) {
      padding-bottom: 13px;
      padding-top: 0px;
    }
  }

  &__label {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    @media (max-width: ($md2 + px)) {
      display: none;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  gap: 9px;
  @media (max-width: ($md2 + px)) {
    justify-content: flex-start;
  }
  &__images {
    & img {
      display: block;
      width: 100%;
      height: 100%;
    }
    @media (max-width: ($md3 + px)) {
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        display: none;
      }
      &:nth-of-type(4) {
        display: none;
      }
    }
    @media (max-width: ($md1 + px)) {
      &:nth-of-type(4) {
        display: none;
      }
    }
  }
}
